CT_CONFIG_VERSION="3"
CT_EXPERIMENTAL=y
CT_PREFIX_DIR="${CT_PREFIX:-/opt/ct}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
# CT_RM_RF_PREFIX_DIR is not set
# CT_INSTALL_LICENSES is not set
# CT_PREFIX_DIR_RO is not set
# CT_STRIP_HOST_TOOLCHAIN_EXECUTABLES is not set
# CT_USE_PIPES is not set
# CT_LOG_FILE_COMPRESS is not set
CT_ARCH_ARM=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
# CT_BINUTILS_RELRO is not set
CT_BINUTILS_FOR_TARGET=y
CT_LIBC_MUSL=y
CT_MUSL_V_1_1_20=y
CT_LIBC_MUSL_OPTIMIZE_NONE=y
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
# CT_CC_CXA_ATEXIT is not set
# CT_CC_GCC_SJLJ_EXCEPTIONS is not set
CT_COMP_LIBS_ZLIB=y
# CT_COMP_TOOLS_AUTOCONF is not set
# CT_COMP_TOOLS_AUTOMAKE is not set
